/* Pdf parte */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F0EAD6;
  font-size: 14px;
}

header {
  color: #000;
  padding: 10px 0;
}

.title {
  text-align: center;
  padding: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #333;
}


.contenedorul {
  display: flex;
  justify-content: space-between;
  width: calc(93% - 20px);
  
}

.contenedorul a {
  color: #fff;
  text-decoration: none;
}

.styleNav{
  display: flex;
  justify-content: center;
} 

.pdfview {
  animation: fadeIn 3s;
  margin: auto;
  display: block;
  width: calc(80% - 15px);
  height: calc(100vh - 20px);
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2), 
              0px 3px 10px rgba(0,0,0,0.19);
}


body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F0EAD6;
}


@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #acaf4c;
  border-color: #acaf4c;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

a:hover {
  background-color: #898e3e;
}

a {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: 2px solid #4CAF50;
  transition: background-color 0.2s;
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex
}

nav li {
margin-right :10px

}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex
}

footer li {
  margin-right :10px
  
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header, main, footer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}



footer {
  text-align: center;
}

body {
font-family: 'Open Sans', sans-serif;
}

header, main, footer {
max-width: 800px;
margin: 0 auto;
padding: 20px;
}

nav ul {
list-style: none;
margin: 0;
padding: 0;
text-align: center;
}

nav li {
display: inline-block;
margin: 0 10px;
}

.contenedorul{
display: flex;
justify-content: space-between;
margin: 0% 27%;
}

.sobrenosotros {
display: flex;
justify-content: center;
font-size: 25px;
}
.sobrenos {
text-align: center;
font-size: 20px;
}

.nombres {
font-size: 25px;
color:#4d2f088f;
}

.Descripciones {
color:black;
}

.Int {
text-align: center;
font-size: 300%;
}
.Integrantescontenedor {
display: flex;
margin: 0% 2%;
}

img {
width: 450px;
height: 600px;
}

body {
font-family: Arial, sans-serif;
}

.Integrantescontenedor {
display: flex;
justify-content: space-around;
flex-wrap: wrap;

}

.Alejo, .Mati, .Santi, .Pipe {
width: 300px;
margin: 20px;
text-align: center;
border-radius: 100%;
}


.nombres {
font-size: 25px;
font-weight: bold;
}

.Alejo img:hover{
transform: scale(1.1); /* Ampliar la imagen al pasar el cursor por encima */
background-color: #555; /* Cambiar el color de fondo al pasar el ratón por encima */
}

.Mati img:hover{
  transform: scale(1.1); /* Ampliar la imagen al pasar el cursor por encima */
  background-color: #555; /* Cambiar el color de fondo al pasar el ratón por encima */
  }

.Pipe img:hover{
    transform: scale(1.1); /* Ampliar la imagen al pasar el cursor por encima */
    background-color: #555; /* Cambiar el color de fondo al pasar el ratón por encima */
    }

.Santi img:hover{
  transform: scale(1.1); /* Ampliar la imagen al pasar el cursor por encima */
  background-color: #000000; /* Cambiar el color de fondo al pasar el ratón por encima */
  }


img {
width: 100%;
height: auto;
}

.Descripciones {
background-color: #f8f9fa;
padding: 15px;
border-radius: 5px;
  transform: scale(1.1); /* Ampliar la imagen al pasar el cursor por encima */
}

.contenedorul a, img {
  transition: all 0.3s ease;
}



.title, .nombres {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

img {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.Descripciones {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.Descripciones[style*="display: block"] {
  opacity: 1;
}

#myBtn {
  display: none; /* Ocultar el botón por defecto */
  position: fixed; /* Fijar la posición del botón */
  bottom: 20px; /* Posición desde abajo */
  right: 30px; /* Posición desde la derecha */
  z-index: 99; /* Asegurarse de que el botón esté por encima de otros elementos */
  border: none; /* No necesita borde */
  outline: none; /* No necesita contorno */
  background-color: #555; /* Color de fondo */
  color: white; /* Color del texto */
  cursor: pointer; /* Cambiar el cursor al pasar el ratón por encima */
  padding: 15px; /* Espacio interior */
  border-radius: 10px; /* Bordes redondeados */
}

#myBtn:hover {
  background-color: #787575; /* Cambiar el color de fondo al pasar el ratón por encima */
}


#proyectos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #4d2f088f; /* Color de fondo de la sección */
  padding: 20px; /* Espacio interior alrededor de la sección */
}

.proyecto {
  width: calc(80% - 40px); /* Ancho de cada proyecto */
  margin: 20px; /* Espacio exterior alrededor de cada proyecto */
  border-radius: 10px; /* Bordes redondeados */
  overflow: hidden; /* Ocultar cualquier contenido que se salga del borde redondeado */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra alrededor de cada proyecto */
  justify-content: space-between;
  width: 1000px;
  margin: 30px;
}

.proyecto img {
  width: 100%;
  transition: transform 0.3s ease; /* Transición suave al cambiar el tamaño */
}

.proyecto img:hover {
  transform: scale(1.1); /* Ampliar la imagen al pasar el cursor por encima */
}

/* Estilos para los títulos de los proyectos */
.proyecto h2 {
  text-align: center;
  color: #4CAF50; /* Color del título */
  font-size: 2em; /* Tamaño del título */
  margin-bottom: 10px; /* Espacio debajo del título */
}

/* Estilos para las descripciones de los proyectos */
.proyecto p {
  padding: 10%;
  font-size: 1.2em; /* Tamaño del texto */
  color: #333; /* Color del texto */
  line-height: 1.5; /* Espaciado entre líneas */
  text-align: justify; /* Alineación del texto */
}

.Roboth3 {
  color: aqua;
  display: flex;
  padding-right: 10%;
  text-size-adjust: 10%;
}

.info {
  padding: 10px; /* Espacio interior alrededor del texto */
}

.info h3 {
  text-align: center;
  color: #555; /* Color del título */
}

.info p {
  color: #777; /* Color de la descripción */
}

/* Establecer el viewport */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Imágenes responsivas */
img {
  max-width: 100%;
  height: auto;
}

/* Tamaño de texto responsivo */
h1 {
  font-size: 5.9vw;
}

h2 {
  font-size: 3.0vh;
}

p {
  font-size: 2vmin;
}

/* Consultas de medios */
@media (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

.Robot2022 {
  display: flex;
  align-self: center;
  width: 300px;
  margin: 50px;
}

.Roboth3 {
  display: flex;
  text-align-last: center;
  font-size: 100%;
}

.Robotdes {
  margin: 50px auto;
}

.Descripcion2022{
  transition: transform 0.3s ease;
}

.carrusel {
  display: flex;
  overflow-x: auto;
}

.carrusel img {
  flex-shrink: 0;
}


#contacto {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0px 2px 15px rgba(0,0,0,0.1);
}

#contacto label {
  font-weight: bold;
  margin-top: 15px;
}

#contacto input, #contacto textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0px 1px 3px rgba(0,0,0,0.2);
}

#contacto input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

#contacto input[type="submit"]:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

#contacto input:focus, #contacto textarea:focus {
    outline:none;
    box-shadow: inset 0px -3px rgba(0,128,0,0.7);
}

#contacto textarea {
    min-height:200px; 
}

#mensajeAgradecimiento {
  display: none;
  margin-top: 20px;
  padding: 10px;
  color: white;
  background-color: #4CAF50;
  text-align: center;
  border-radius: 5px;
}

#mensajeAgradecimiento.mostrar {
  display: block;
}

.premio {
  width: 80%;
  height: 80%;
}

